.pink{
    padding: 10px 20px;
    background-color: lightpink;
    font-weight: bold;
   
}

.yellow{
         padding: 10px 20px;
        background-color: yellow;
        font-weight: bold;
    
    
}